:root 
{
    --font-1: "Ubuntu", sans-serif;
    --font-2: "Lora", serif;

    --color-1: #FFFFFF;
    --color-2: #EBEBEB;
    --color-3: #F8F8F8;
    --color-4: #1792D2;
    --color-5: #143774;
    --color-6: #707070;
    --color-7: #717171;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: var(--font-1);
    color: var(--color-6);
}

* {
    box-sizing: border-box;
}

* :first-child{
    margin-top: 0;
}

* :last-child{
    margin-bottom: 0;
}

.header 
{
    text-align: center;
    background-color: var(--color-3);
}


.title-wrapper {
    margin-bottom: 2em;
}

.title {
    font-family: var(--font-2);
    color: var(--color-5);
    font-weight: normal;
    font-size: 1.83rem;
    margin-bottom: 0;
}
.subtitle {
    margin-top: 0;
    color: var(--color-4);
    font-size: .66em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.navlist {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.navlink 
{
    color: var(--color-7);
    font-size: .88rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-decoration: none;
    padding-bottom: .3em;
    display: inline-block;
}

.navlink.active 
{
    border-bottom: 2px solid var(--color-6);
}

.main-content, .side 
{
    max-width: 714px;
}


.article_date
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .77rem;
    color: var(--color-6);
}

.article_title 
{
    font-family: var(--font-2);
    color: var(--color-5);
    font-weight: normal;
    font-size: 1.33rem;
}

.article_body {
    line-height: 1.6;
}

.article_body .link {
    color: var(--color-4);
}

.article_read-more {
    color: var(--color-4);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
    font-size: .77rem;
}

.article-main
{
    padding-bottom: 2em;
    border-bottom: 1px solid var(--color-6);
}


.article {
    padding-top: 2em;
}

.article_img {
    height: 242px;
}

.article .article_date
{
    text-align: right;
}


.main-content {
    padding-bottom: 2em;
}


.side_section {
    border: 20px solid var(--color-2);
    padding: 1em;
}

.side_section:not(:last-child) 
{
    margin-bottom: 2em;
}

.side_title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color:var(--color-5);
    letter-spacing: .2em;
}

.side_about_img {
    height: 133px;
}

.side_body {
    line-height: 1.6;
    color: var(--color-5);
    font-size: .77rem;
    font-weight: lighter;
}

.side_recent_img {
    height: 87px;
}

.side_recent_subtitle {
    font-size: 1rem;
    font-family: var(--font-2);
    font-weight: normal;
    color: var(--color-5)
}

.side_recent_post {
    padding: 1em 0;
    border-bottom: 1px solid var(--color-6);
}

.side_recent_post:nth-child(2) .side_recent_img
{
    object-position: 0px -140px;
}


.footer
{
   background-color: var(--color-5); 
   text-align: center;
   color: white;
}
.footer > * {
    opacity: 54%;
}
.footer_title {
    font-weight: bold;
}

img {
    width: 100%;
    object-fit: cover;
}


.container {
    padding: 2em 3.6%;
}


@media (min-width: 490px)
{
    .article_col-2 {
        margin-top: -1.5em;
    }

    .side_recent_post:nth-child(2) .side_recent_img
{
    object-position: 0px -200px;
}
}

@media (min-width:768px)
{
    .header 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: inherit;
    }

    .title-wrapper {
        margin-bottom: 0;
    }

    .navlist {
        flex-direction: row;
        align-items: center;
    }

    .main {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    .article {
        display: flex;
        justify-content: space-between;
    }

    .article .article_date{
        text-align: left;
    }

    .article_col-1 {
        width: 27.7%;
    }

    .article_col-2 {
        width: 67%;
    }

    .article:last-child .article_img {
        object-position: 0;
    }

    .main-content{
        padding-bottom: 0;
    }

    .side {
        max-width: 240px;
    }

    .side_recent_post:nth-child(2) .side_recent_img
{
    object-position: inherit;
}

    .container 
    {
        padding: 2em 5%;
    }
}